.landingpage{
    .poster{
        height: 70vh;
        width: 100%;
        background-color: red;
        background: url('../Images/mainposter.webp') no-repeat center/cover;
    }
    .content{
        .search{
            height: 10vh;
            width: 50%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                height: 40px;
                width: 500px;
                border-color:rgba(0, 0, 0, 0.308);
                padding-left: 10px;
                border-right:none ;
            }
            button{
                height: 43px;
                width:70px;
                border-color:rgba(16, 16, 16, 0.278);
                border-left:none ;
                background-color: white;
                color:  rgba(0, 0, 0, 0.503);

            }
        }
    }
}